*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0a3d62;
    font-family: 'Acme', sans-serif;
}
.container{
      text-align: center;
      margin: auto;
}
#heading{
    text-align: center;
    margin-top: 65px;
    font-size: 90px;
    color: #f6b93b;
    text-shadow: 5px 5px white;
}
.player{
    font-size: 28px;
    color: #00b894;
    text-shadow: 1px 1px white;
}
.dice{
    display: inline-block;
    margin-top: 30px;
    margin: 20px;
}
img{
    height: 250px;
    border-radius: 50px;
}
button{
    padding: 10px;
    background-color: #00b894;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
    cursor: pointer;
    border-radius: 10px;
}